@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-gray-100;
}

h1 {
  @apply text-3xl;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

.dreieck {
  clip-path: polygon(100% 100%, 50% 0, 0 100%);
}

.redTriangle {
  clip-path: polygon(100% 100%, 0 25%, 0 100%);
}

.yellowTriangle {
  clip-path: polygon(100% 100%, 25% 0, 100% 0);
}

.greenTriangle {
  clip-path: polygon(0 100%, 0 0, 75% 0);
}

.purpleTriangle {
  clip-path: polygon(100% 100%, 100% 25%, 0 100%);
}
